<% var arrayRange = [{ key:'long',value: data.long.items},{ key:'medium',value: data.medium.items},{ key:'short',value: data.short.items}] %>

<div class="container-template">
    <h1>Your top song</h1>
    <ul id="range">
        <li class="btn tab-switcher active" data-tab="long"><a href="#">For ever</a></li>
        <li class="btn tab-switcher" data-tab="medium"><a href="#">Last 6 months</a></li>
        <li class="btn tab-switcher" data-tab="short"><a href="#">Last month</a></li>
    </ul>
    <input type="range" id="volume" name="volume" min="0" max="1" step="0.01" value="0.2">
  <% arrayRange.forEach(function(range) { %>
            <div class="container-playlist tab-container <%= (range.key=='long'?'':'hidden') %>" data-tab="<%= range.key%>">
                
                <% for (key in data.long.items) { %>
                    <div class="cards" data-music="<%= range.value[key].id %>" >
                        <img class="<%= (!range.value[key].preview_url?'disable':'music') %>" src="<%= range.value[key].album.images[0].url %>" >
                    
                        <% if(!range.value[key].preview_url){ %>
                        <div>
                            Preview not available
                        </div>
                        <% } else{ %>
                            <div class="hidden control play">
                                Play
                            </div>
                            <div class="hidden control pause">
                                Pause
                            </div>
                        <% } %>

                        <audio class="audio" data-music="<%= range.value[key].id %>" src="<%= range.value[key].preview_url %>"></audio>
                        <p><%= range.value[key].name %></p>
                    </div>
                <% } %>

              </div>         
        <% }); %> 
</div>


<!-- <%= JSON.stringify(data.items) %> -->


